

<%include header%>

<header>
        <nav>
            <ul>
                <li>Document</li>
                <li>Encrypt</li>
                <li>About</li>
            </ul>
        </nav>
</header>

<section>

<aside id="aside_first">
<h3>Keys</h3>
<div id="keys">
    <div id="privateKeys"></div>
    <div id="publicKeys"></div>
</div>

<h3>Friends</h3>
<div id="friends">
    <div id="usersfriend"></div>
</div>
</aside>

<aside id="aside_second">

    <h3>Datei</h3>
    <div id="datein">
    </div>

    <h3>Einstellungen</h3>
    <div id="einstellungen">
    </div>

</aside>

<article>
</article>

</section>


<%include footer%>
