
<% include header %> 

<div id="einloggen">

<form method="POST" action="/einloggen">
<br />
<div class="row">
        <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Benutzer Name </span>
                    <input type="text" name="username" class="form-control" placeholder="">
                </div>
        </div>
</div>
<br />
<div class="row">
        <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Pass Phrase &nbsp; &nbsp; </span>
                    <input type="password" name="password" class="form-control" placeholder="">
                </div>
        </div>
</div>
<br />
<div class="row">
        <div class="col-lg-6">
                <div class="input-group">
                    <button type="submit" name="action" value="einloggen" class="btn btn-primary">Einloggen</button>
                    <button type="button" name="action" value="registrieren" class="btn btn-warning">Registrieren</button>
                    <button type="button" name="action" value="index" class="btn btn-danger">Exit &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;        </button>
                </div>
        </div>
</div>
<br />
<br />

</form>


</div>
    
<style type="text/css" media="screen">
    #einloggen{
        width: 700px; 
        text-align: center; 
        /*margin : 400px;*/
        margin-top: 200px;
        margin-left: 200px;
        }
</style>

<% include footer %>
