
<% include header %>

<div id="registrieren">
<form action="/registration" method="POST">

    <br />
<div class="row">

        <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <input name='name' type="text" class="form-control" placeholder="">
                </div>
        </div>
</div>
<br />

<div class="row">
<div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Vorname&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <input name='vorname' type="text" class="form-control" placeholder="">
        </div>
</div>
</div>

<br />

<div class="row">
<div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <input name='email' type="text" class="form-control" placeholder="">
        </div>
</div>
</div>

<br />
    
<div class="row">

        <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Benutzer Name </span>
                    <input name='username' type="text" class="form-control" placeholder="">
                </div>
        </div>
</div>
<br />

<div class="row">
        <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Pass Phrase  &nbsp;&nbsp;&nbsp;&nbsp;  </span>
                    <input name='password' type="password" class="form-control" placeholder="">
                </div>
        </div>
</div>
        
<br />

<div class="row">
        <div class="col-lg-6">
                <div class="input-group">
                    <button type="submit" class="btn btn-primary">Registrieren</button>
                    <button type="button" class="btn btn-warning">Einlgoggen</button>
                    <button type="button" class="btn btn-danger">Exit &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  </button>
                </div>
        </div>
</div>
<br />
<br />

</form>

</div>
    
<style type="text/css" media="screen"><!--{{{-->
    #registrieren{
        width: 700px; 
        text-align: center; 
        margin : 400px;
        margin-top: 300px; 
        margin-left: 700px; 

        }
</style><!--}}}-->


<% include footer %>
